{% extends "main.html" %}

{% block base_content %}
<!-- Contact page content -->
<div class="contact-page container-fluid margin-top-60">
	<div class="row">
		<div class="col">
			<h2>Project Team</h2>
			<!-- Loop through data imported from config file, add to page -->
			<ul class="contact-list">
				{% for item in proj_team_data %}
				<li>{{ item }}</li>
				{% endfor %}
			</ul>
			<h2>Advisory Board</h2>
			<!-- Loop through data imported from config file, add to page -->
			<ul class="contact-list">
				{% for item in ad_board_data %}
				<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}